<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="../instagram-dio/img/favicon.ico">
    <title>Instagram</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
    </script>
</head>

<body ng-app="app">
    <div id="instagram-wrapper">
        <div class="instagram-continue">
            <div class="header">
                <img src="./img/instagram-logo.png" class="instagram-logo" alt="instagram logo">
            </div>
            <form class="form" action="./page.html">

                <div class="l-part" ng-controller="app" ng-init="disable=false">
                    <input type="text" placeholder="Telefone, nome do usuário ou email" class="input-1"
                        ng-model="checked" />
                    <div class="overlap-text">
                        <input id="password" type="password" placeholder="Senha" class="input-2" ng-model="checked1" />
                        <a type="button" class="btnMostrar" onclick="mostrarSenha()" >Mostrar</a>
                    </div>
                    <div class="spaceBetween">
                        <button type="submit" value="Login" class="instagram-login"
                            ng-class="{'instagram-login-disabled': ((!checked) || (!checked1))}"
                            ng-disabled="((!checked) || (!checked1))">Entrar</button>
                    </div>
                </div>
            </form>

            <div class="spaceBetween">
                <span class="linha">___________</span>
                <span class="linhaOu">ou</span>
                <span class="linha">___________</span>
            </div>


            <div class="spaceBetween">
                <a href="https://www.facebook.com/">
                    <img class="facebookIcon" src="../instagram-dio/img/facebook.png" alt="Facebook">
                    <span class="facebook">Entrar com Facebook</span>
                </a>
            </div>
            <div class="esqueceu-senha">
                <a class="esqueceu-senha" href="https://www.instagram.com/accounts/password/reset/">Esqueceu a
                    senha?</a>
            </div>

        </div>


        <div class="sub-content">
            <p class="not-account"> Não tem uma conta?
                <a href="https://www.instagram.com/accounts/emailsignup/">
                    <span class="link-blue">Cadastre-se</span>
                </a>
            </p>
        </div>
        <div class="get-the-app">
            <p class="get-app">Obtenha o aplicativo.</p>
            <div class="download">
                <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo" class="app-download"></a>
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D685CE364-F392-4683-A0D6-C69346BF9DF7%26utm_content%3Dlo%26utm_medium%3Dbadge"
                    class="app-download"></a>
            </div>
        </div>
    </div>

    <script>
       
        var app = angular.module("app", []);
        app.controller('app', ['$scope', function ($app) {
            $app.geek = function (disable) {
                $app.disable = !disable;
            }
        }]);
    </script>

    <script>
        function mostrarSenha() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    </script>

</body>

</html>